* {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  td{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    background-color: rgb(212, 252, 255,0.50);
    border-radius: 5px;
  }

  th {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  tr {
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 0.40);
    border-radius: 10px;
  }
  
  th {
    text-align: center;
    background-color: rgb(255, 238, 222,0.4);
    border: 1px solid #ccc;
  }
  
  .category-name {
    font-size: 16px;
    font-weight: bold;
    width:auto;
    margin: auto;
    background-color: rgb(255, 238, 222,0.4);
    text-align: center;
  }
  
  tr + td {
    margin-top: 10px;
  }


  
  .date-text {
    width: 50px;
  }

  table {
    margin: auto;
  }