.button_text {
    margin: auto;
    width: 50px;
}

table {
    border-collapse: collapse;
    border: #492c2c;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categoryName {
    background-color: aqua;
    max-width: 250px;
}

td, tr, th {
    border: 1px solid #462222;
    text-align: center;
}