<table>
    <thead>
      <tr>
        <th rowspan="2">Category</th>
        <th [attr.colspan]='numberOfDays'>{{currentMonth}} {{year}}</th>
      </tr>
      <tr>
        <th *ngFor="let date of counter(numberOfDays);let i = index"><div class="date-text">{{date}}</div></th>
      </tr>
    </thead>
    <tbody>
      <tr class="category-row" *ngFor="let category of categories;let i = index">
        <td class="category-name">{{category}}</td>
        <td [attr.colspan]='numberOfDays'><app-event-container [_eventsDetails]="categories_[i]"></app-event-container></td>
      </tr>
    </tbody>
  </table>
  
