<table>
    <tr>
        <th>categories/time</th>
        <th *ngFor="let month of months"><button><div class="button_text">{{month}} {{year}}</div></button></th>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="12">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="12">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="12">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="12">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="12">
            <div>ok</div>
            <div>what are you going to do?</div>
        </td>
    </tr>
</table>
