.bar-container {
    display: inline-block;
    width: 5000px;
    height: 30px;
    border-radius: 20px;
    background-color: #70fab5;
}

.bar-name {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}