.bar-name {
    line-height: 30px;
    color: #333;
    font-size: 18px;
    width: 100%;
    text-align: center;
    overflow: scroll;
}
.bar-prop{
    display: flex;
    height: 10px;
    border-radius:20px;
}

.dot-prop{
    margin: auto;
    width: 10px;
    display: flex;
    height: 10px;
    border-radius:20px;
}
  
  
  
  