<table>
    <tr>
        <th rowspan="2">categories/time</th>
        <th colspan="30"><button><div class="button_text">Date clicked {{year}}</div></button></th>
    </tr>
    <tr>
        <th *ngFor="let date of counter(24);let i = index"><button><div class="button_text">{{i}}</div></button></th>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="30">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="30">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="30">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="30">ok</td>
    </tr>
    <tr>
        <td>
            <div>
                category name
            </div>
        </td>
        <td colspan="30">
            <div>ok</div>
            <div>what are you going to do?</div>
        </td>
    </tr>
</table>
